# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-10.15
  strategy:
    matrix:
      osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.7.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_h4d3491ecc5
      osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.8.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_hfe862bd63c
      osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.9.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl1.1.1python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_he87f982062
      osx_64_grpc_cpp1.45numpy1.19openssl3python3.7.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl3python3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_h5b87233a8f
      osx_64_grpc_cpp1.45numpy1.19openssl3python3.8.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl3python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_h8814488e75
      osx_64_grpc_cpp1.45numpy1.19openssl3python3.9.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl3python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.19openssl_hba3d5b10f4
      osx_64_grpc_cpp1.45numpy1.21openssl1.1.1python3.10.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.21openssl1.1.1python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.21openssl_hf46f5aba47
      osx_64_grpc_cpp1.45numpy1.21openssl3python3.10.____cpython:
        CONFIG: osx_64_grpc_cpp1.45numpy1.21openssl3python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.45numpy1.21openssl_h8debf80e54
      osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.7.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_ha46c979e72
      osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.8.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_h8bed9fcb42
      osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.9.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl1.1.1python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_h8cab480a78
      osx_64_grpc_cpp1.46numpy1.19openssl3python3.7.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl3python3.7.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_hc9af517565
      osx_64_grpc_cpp1.46numpy1.19openssl3python3.8.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl3python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_h6c04242846
      osx_64_grpc_cpp1.46numpy1.19openssl3python3.9.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl3python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.19openssl_h8cd34807d4
      osx_64_grpc_cpp1.46numpy1.21openssl1.1.1python3.10.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.21openssl1.1.1python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.21openssl_h8a977b0ee2
      osx_64_grpc_cpp1.46numpy1.21openssl3python3.10.____cpython:
        CONFIG: osx_64_grpc_cpp1.46numpy1.21openssl3python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_64_grpc_cpp1.46numpy1.21openssl_hcbd6b614be
      osx_arm64_grpc_cpp1.45numpy1.19openssl1.1.1python3.8.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.19openssl1.1.1python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.19open_h8ec51e907f
      osx_arm64_grpc_cpp1.45numpy1.19openssl1.1.1python3.9.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.19openssl1.1.1python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.19open_h1bdc285b90
      osx_arm64_grpc_cpp1.45numpy1.19openssl3python3.8.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.19openssl3python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.19open_h708ef3cfb1
      osx_arm64_grpc_cpp1.45numpy1.19openssl3python3.9.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.19openssl3python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.19open_hd10d811399
      osx_arm64_grpc_cpp1.45numpy1.21openssl1.1.1python3.10.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.21openssl1.1.1python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.21open_he0ed283cff
      osx_arm64_grpc_cpp1.45numpy1.21openssl3python3.10.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.45numpy1.21openssl3python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.45numpy1.21open_h65197e4a15
      osx_arm64_grpc_cpp1.46numpy1.19openssl1.1.1python3.8.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.19openssl1.1.1python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.19open_h2e37b1bbcf
      osx_arm64_grpc_cpp1.46numpy1.19openssl1.1.1python3.9.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.19openssl1.1.1python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.19open_hcecfa89f81
      osx_arm64_grpc_cpp1.46numpy1.19openssl3python3.8.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.19openssl3python3.8.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.19open_hb3108029c8
      osx_arm64_grpc_cpp1.46numpy1.19openssl3python3.9.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.19openssl3python3.9.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.19open_ha3b1706727
      osx_arm64_grpc_cpp1.46numpy1.21openssl1.1.1python3.10.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.21openssl1.1.1python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.21open_h99be235307
      osx_arm64_grpc_cpp1.46numpy1.21openssl3python3.10.____cpython:
        CONFIG: osx_arm64_grpc_cpp1.46numpy1.21openssl3python3.10.____cpython
        UPLOAD_PACKAGES: 'True'
        SHORT_CONFIG: osx_arm64_grpc_cpp1.46numpy1.21open_hd65c2df23f
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
        export IS_PR_BUILD="True"
      else
        export IS_PR_BUILD="False"
      fi
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)
  - script: |
      export CI=azure
      export CI_RUN_ID=$(build.BuildNumber).$(system.JobAttempt)
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      export CONDA_BLD_DIR=/Users/runner/miniforge3/conda-bld
      export ARTIFACT_STAGING_DIR="$(Build.ArtifactStagingDirectory)"
      # Archive everything in CONDA_BLD_DIR except environments
      export BLD_ARTIFACT_PREFIX=conda_artifacts
      if [[ "$AGENT_JOBSTATUS" == "Failed" ]]; then
        # Archive the CONDA_BLD_DIR environments only when the job fails
        export ENV_ARTIFACT_PREFIX=conda_envs
      fi
      ./.scripts/create_conda_build_artifacts.sh
    displayName: Prepare conda build artifacts
    condition: succeededOrFailed()

  - task: PublishPipelineArtifact@1
    displayName: Store conda build artifacts
    condition: not(eq(variables.BLD_ARTIFACT_PATH, ''))
    inputs:
      targetPath: $(BLD_ARTIFACT_PATH)
      artifactName: $(BLD_ARTIFACT_NAME)

  - task: PublishPipelineArtifact@1
    displayName: Store conda build environment artifacts
    condition: not(eq(variables.ENV_ARTIFACT_PATH, ''))
    inputs:
      targetPath: $(ENV_ARTIFACT_PATH)
      artifactName: $(ENV_ARTIFACT_NAME)